<div class="twelve columns persona-card" id='{{persona}}-card'>
  <div class="row">
    <div class="twelve columns">
        <h2 class='persona-name'>{{persona}}</h2>
    </div>
  </div>

  <div class="row">
    <div class="three columns">
        <img src="" alt="{{persona}}">
    </div>
    <div class="three columns">
        <h3>Out of pocket: <span class='oop-total'></span></h3>
        <ul id='oop'>
          <li class='category-total oop-childCare'></li>
          <li class='category-total oop-fees'></li>
          <li class='category-total oop-lostIncome'></li>
          <li class='category-total oop-transport'></li>
          <li class='category-total oop-moving'></li>
        </ul>
    </div>
    <div class="three columns">
        <h3>Impact</h3>
    </div>
    <div class="three columns">
        <h3>Instability</h3>
    </div>
  </div>
</div>
