<div class="twelve columns persona-card" id='{{persona}}-card' style="background-color: {{bgColour}}">
  <div class="row">
    <div class="twelve columns">
        <h2 class='persona-name'>{{persona}}</h2>
    </div>
  </div>

  <div class="row">
    <!-- <div class="three columns">
        <img src="" alt="{{persona}}">
    </div> -->
    <div class="six columns category">
        <h3 class='category-title'>Out of pocket: <span class='oop-total'></span></h3>
        <div class="row">
          <div class="six columns">
            <span class='sub-category-title'>Child Care</span>
          </div>
          <div class="six columns">
            <span class='sub-category-value oop-childCare'></span>
          </div>
          <div class="six columns">
            <span class='sub-category-title'>Fees</span>
          </div>
          <div class="six columns">
            <span class='sub-category-value oop-fees'></span>
          </div>
          <div class="six columns">
            <span class='sub-category-title'>Lost Income</span>
          </div>
          <div class="six columns">
            <span class='sub-category-value oop-lostIncome'></span>
          </div>
          <div class="six columns">
            <span class='sub-category-title'>Transport</span>
          </div>
          <div class="six columns">
            <span class='sub-category-value oop-transport'></span>
          </div>
          <div class="six columns">
            <span class='sub-category-title'>Moving</span>
          </div>
          <div class="six columns">
            <span class='sub-category-value oop-moving'></span>
          </div>
        </div>
    </div>
    <div class="six columns category">
        <h3 class='category-title'>Impact</h3>
        <div class="row">
          <div class="six columns">
            <span class='sub-category-title'>Court Events</span>
          </div>
          <div class="six columns">
            <span class='sub-category-value impact-courtEvents'></span>
          </div>
          <div class="six columns">
            <span class='sub-category-title'>Prep Days</span>
          </div>
          <div class="six columns">
            <span class='sub-category-value impact-prepDays'></span>
          </div>

          <div class="six columns">
            <span class='sub-category-title'>Instability</span>
          </div>
          <div class="six columns">
            <span class='sub-category-value impact-instability'></span>
          </div>

        </div>
    </div>

  </div>
</div>
