<div class="container">
  <div class="row">
      <div class="twelve columns">
        <h1>Out of Pocket Calculator - Family Court</h1>
      </div>
  </div>

  <div class="row" id='controls'>
    <div class="control ">

    </div>
  </div>

  {{#each personas}}
  <div class="row">
      {{> personaCard this}}
  </div>
  {{/each}}
</div>
