<div class="container">
  <div class="row">
      <div class="col-12">
        <h1>Out of Pocket Calculator - Family Court</h1>
      </div>
  </div>

  {{#each personas}}
  <div class="row">
      {{> personaCard this}}
  </div>
  {{/each}}
</div>
