<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/skeleton.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    {{{body}}}

    <script src="/javascripts/lib/underscore-min.js"></script>
    <script src="/javascripts/lib/numeral.min.js"></script>

    <script src="/javascripts/getData.js" charset="utf-8"></script>
    <script src="/javascripts/util.js" charset="utf-8"></script>
    <script src="/javascripts/script.js" charset="utf-8"></script>
    <script src="/javascripts/outOfPocket.js" charset="utf-8"></script>
    <script src="/javascripts/impact.js" charset="utf-8"></script>
  </body>
</html>
