<!DOCTYPE html>
<html>
  <head>
    <title>Out of Pocket Calculator</title>

    <!-- Skeleton grid is removed -->
    <link rel='stylesheet' href='/stylesheets/skeleton.css' />
    <!-- Use this grid instead -->
    <link rel='stylesheet' href='/stylesheets/flexboxgrid.min.css' />

    <link rel='stylesheet' href='/stylesheets/nouislider.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
  <body>
    {{{body}}}


    <!-- Libs -->
    <script src="/javascripts/lib/underscore-min.js"></script>
    <script src="/javascripts/lib/numeral.min.js"></script>
    <script src="/javascripts/lib/nouislider.min.js"></script>

    <!-- SCRIPTS -->
    <script src="/javascripts/getData.js" charset="utf-8"></script>
    <script src="/javascripts/util.js" charset="utf-8"></script>
    <script src="/javascripts/script.js" charset="utf-8"></script>
    <script src="/javascripts/outOfPocket.js" charset="utf-8"></script>
    <script src="/javascripts/impact.js" charset="utf-8"></script>
  </body>
</html>
