body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


.persona-card {
  background: lightblue;
  padding: 30px;
  margin-bottom: 20px;

  .category {

    .six.columns {
      margin-left: 0px;
    }

    .sub-category-title {
      font-weight: bold;
      // margin-left: -4%;
    }
  }
}
